{
  "env": {
    "commonjs": true,
    "es2021": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:playwright/recommended",
  ],
  "plugins": ["prettier", "@stylistic"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true,
      },
    ],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "no-await-in-loop": "off",
    "import/no-extraneous-dependencies": "off",
    "no-plusplus": "off",
    "playwright/no-standalone-expect": "off",
    "@stylistic/indent": ["error", 2],
    "@stylistic/spaced-comment": ["error", "always"],
    "@stylistic/quotes": ["error", "single"],
    "@stylistic/semi": ["error", "always"],
    "@stylistic/no-multi-spaces": ["error"],
  },
}
