@import './Common.css';

.booking-customer-page .booking-link {
  color: #007bff;
  margin-bottom: 10px;
}

.booking-customer-page .edit-button,
.booking-customer-page .cancel-button {
  padding: 10px 40px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.booking-customer-page .edit-button {
  background-color: #007bff;
  color: white;
}

.booking-customer-page .edit-button:hover {
  background-color: #0056b3;
}

.booking-customer-page .cancel-button {
  background-color: #dc3545;
  color: white;
}

.booking-customer-page .cancel-button:hover {
  background-color: #c82333;
}
