@import './Common.css';

.login-form .register-button {
  background-color: #007bff;
}

.login-form .register-button:hover {
  background-color: #0056b3;
}

.login-form .login-button {
  background-color: #28a745;
}

.login-form .login-button:hover {
  background-color: #218838;
}
